checkpoints/
build/ 

runs*/
logs*/
archive*/
plots*/

temp/
good_runs/ 
dead_runs/
good_runs_04_17_first_success/
other_runs/
cache/
data_cache/
data/cache/
data/test_data/
data/cache_bak
qf.egg-info/

**/__pycache__/
**/data_cache/
**/.mypy_cache/
**/.pytest_cache/
**/qf.egg-info/
**/plots/
.DS_Store

*.pgf
*.pdf
*.png

.cursor/
