# Projektordner ausschließen
checkpoints/
configs/
runs/
temp/
good_runs/ 
dead_runs/
good_runs_04_17_first_success/
other_runs/
cache/
data_cache/
data/cache/
data/test_data/
data/cache_bak


# Python-Cache-Ordner überall im Projekt ignorieren
**/__pycache__/
**/data_cache/

.DS_Store


# Bestimmte Dateien ausschließen
*.pgf
*.pdf
*.png
