absl-py==2.2.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1738740337718/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
cachetools==5.5.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560577695/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1731428404268/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
filelock==3.18.0
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1738940391422/work
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1728841370106/work
fsspec==2025.3.0
google-auth==2.38.0
google-auth-oauthlib==0.4.6
grpcio==1.71.0
Gymnasium @ file:///home/conda/feedstock_root/build_artifacts/gymnasium_1670621948996/work
gymnasium-notices @ file:///home/conda/feedstock_root/build_artifacts/gymnasium-notices_1736937572652/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1734075161666/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
Jinja2==3.1.6
kiwisolver==1.4.8
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1739211582434/work
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
multitasking @ file:///home/conda/feedstock_root/build_artifacts/multitasking_1622493113162/work
munkres==1.1.4
networkx==3.4.2
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1742254858819/work/dist/numpy-2.2.4-cp313-cp313-macosx_11_0_arm64.whl#sha256=e4cb761df371d0f5ace171e631618a4e9328a99153350202c26766d10ba764bc
oauthlib==3.2.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1726878437586/work
peewee @ file:///Users/runner/miniforge3/conda-bld/peewee_1738788814040/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929746402/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1742485085/work
protobuf==6.30.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-oauthlib==2.0.0
rsa==4.9
setuptools==77.0.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
standard-imghdr==3.13.0
swig==4.3.0
sympy==1.13.1
ta==0.11.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615933794/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
Werkzeug==3.1.3
wheel==0.45.1
yfinance @ file:///home/conda/feedstock_root/build_artifacts/yfinance_1742531646677/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
